{{ define "main" }}

<!-- Tag Title -->
<h1 class="mb-24">Thoughts and Reflections</h1>

<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  Hi and welcome to Alex Che blog. I started to write occasionally just to structure my toughts and reflections
  on things happening around.

  Mostly the content is concerning an intersection of technology, minimalism, product, and business. It is rarely
  a concrete recipe for something, mostly the consideration and philosophy of how I approach life and tech.
</section>

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}



<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages }}<!---->

<!-- avatar -->
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}<!---->

{{ $avatar_url := $.Scratch.Get "avatar_url" }}<!---->
{{ if or $avatar_url site.Params.name }}
<div class="-mt-4 mb-20 flex items-start">
  {{ if $avatar_url }}
  <div
    class="mr-5 shrink-0 rounded-full border-[0.5px] border-black/10 bg-white/50 p-3 shadow-xl dark:bg-white/80"
  >
    <img
      class="my-0 h-14 w-14 rounded-full !bg-black/5 hover:animate-spin dark:!bg-black/80"
      src="{{ $avatar_url }}"
    />
  </div>
  {{ end }}<!---->
  {{ if site.Params.name }}
  <div>
    <h1 class="mt-1.5 mb-3 text-3xl font-bold">{{ site.Params.name }}</h1>
    <div class="break-words">
      {{ site.Params.bio | default (print "Personal blog by " site.Params.name) }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}<!---->

{{ end }}


<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  <h2 class="!my-0 pb-1 !leading-none">{{ .Title }}</h2>
  <time class="text-sm opacity-60">{{ .Date | time.Format ":date_medium" }}</time>
  <a class="absolute inset-0" href="{{ .Permalink }}"></a>
</section>
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-24 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
